<html>
<head>
    <script src="angular.min.js"> </script>
    <script src="angularscripts/ang.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    
    
    
    </head>
    
    <body ng-app="firstapp" ng-init="x='Master'">

        <!-- Parent ,child Example below -->
        <div class="jumbotron" ng-controller="parent">
        
        Parent div <br>
           Parent X Value is {{x}}<br>
            Parent XValue is <input type="text" ng-model="x"> <br>
            Parent Y Value is {{y}} <br>
            
            <div class = "alert alert-danger" ng-controller="child">
            Child Division <br>
                {{x}} <br>
              Child X  <input type="text" ng-model="x" ng-change="eventHandler()">  <br>
               
                {{y}} <br>
                
              Child Y  <input type="text" ng-model="y"> <br>
            </div>
        
        </div>


</body>

</html>